# Node.js (Client React)
client/node_modules/
client/build/

# Go (Serveur Go)
server/bin/
server/*.exe
server/*.out

# Docker
*.env
*.env.*
docker-compose.override.yml

# Logs et fichiers temporaires
*.log
*.lock
.DS_Store

# PostgreSQL
db_data/

# IDE visual studio
*.code-workspace

