.user-profile-container {
  display: flex;
  justify-content: flex-start; /* Aligner les enfants au début horizontalement */
  align-items: flex-start; /* Alignement vertical en haut */
  flex-direction: row; /* Orientation horizontale */
  height: 100vh; /* Prend toute la hauteur de l'écran */
  width: 100vw; 

}

.sidebar {
  width: 250px; /* Largeur fixe pour la barre latérale */
  height: 100%; /* Prend toute la hauteur */
  background-color: #f0f0f0; /* Optionnel : couleur pour distinguer */
  position: relative;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1; /* Le reste du contenu occupe l'espace restant */
  text-align: center;
  padding: 20px; /* Ajout d'un peu d'espace autour du contenu */
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.profile-details h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.profile-details p {
  margin: 0;
  color: #555;
}
